
@{
        ViewBag.Title = "Buscar";
    if (ViewBag.UserLogged == "ADMINISTRADOR")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.UserLogged == "AGENTE")
    {
        Layout = "~/Views/Shared/_LayoutAgente.cshtml";
    }
    if (ViewBag.UserLogged == "USUARIO")
    {
        Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    }
    if (ViewBag.UserLogged == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h1 id="ViewBuscar"></h1>
    <div class="er_cont_carrousel_buscar">
        <div class="er_sombra_buscar">

            <h3 id="ViewBuscar">Buscar</h3>
            <hr />
            <form class="er_cont_banner_sombra" action="/Inmueble/Buscar" method="post">
                <i>
                    <label>Ubicacion</label>
                    <select class="custom-select" style="color:black; opacity:0.5; border: 2px solid " name="ciudad" id="ciudad">
                        <option value="0" selected="selected">Seleccionar</option>
                        @foreach (var ciud in ViewBag.ciudad)
                        {
                            <option value="@ciud.CiudadesId">@ciud.Nombre</option>
                        }

                    </select>
                </i>
                <i>
                    <label>Tipo de Propiedad</label>
                    <select class="custom-select" style="color:black; opacity:0.5; border: 2px solid " name="TipoInmueble" id="TipoInmueble">
                        <option value="0" selected="selected">Seleccionar</option>
                        @foreach (var Tipinm in ViewBag.TipoInmueble)
                        {
                            <option value="@Tipinm.InmuebleTipoId">@Tipinm.Nombre</option>
                        }

                    </select>

                </i>
                <i>
                    <label>Estado</label>
                    <select class="custom-select" style="color:black; opacity:0.5; border: 2px solid " name="Estado" id="Estado">
                        <option value="0" selected="selected">Seleccionar</option>
                        <option value="Alquiler">Alquiler</option>
                        <option value="Venta">Venta</option>
                    </select>

                </i>
                <div>
                    <i><button class="btn btn-light" type="submit" style="color:black; opacity:0.5; border: 2px solid "> Buscar </button></i>
                </div>

            </form>

        </div>
        <div class="er_sombra_index_cont">
            <hr />
            <div class="col-md-12">
                <div class=" ">
                    <div class="container">
                        <div class="row">
                            <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
                                <div class="MultiCarousel-inner">
                                    @foreach (var Inmueble in ViewBag.Inmuebles)
                                    {
                                        foreach (var Imagen in ViewBag.Imagenes)
                                        {

                                            if (Imagen.InmuebleId == Inmueble.InmuebleId)
                                            {
                                                <div class="item" style="opacity:0.95;  ">
                                                    <div class="pad15 er_cont_carrousel">
                                                        <div class="  " style="border-radius: 10px; ">
                                                            <img class="img-fluid" src="@Imagen.Img" style="" loading="lazy" />
                                                            <p style="color:white; background-color:rgba(0,0,0,0.8); top:-200px;position:relative;    border-radius: 5px;">
                                                                @foreach (var inmuebletipo in ViewBag.TipoInmueble)
                                                                {
                                                                    if (Inmueble.InmuebleTipoId == inmuebletipo.InmuebleTipoId)
                                                                    {
                                                                        <i class="fas fa-home"> @inmuebletipo.Nombre  </i>
                                                                    }
                                                                }

                                                            </p>
                                                        </div>
                                                        <div>
                                                            <h6 class="card-text"> @Inmueble.NombreInm </h6>

                                                            @foreach (var Ciudad in ViewBag.ciudad)
                                                            {
                                                                if (Inmueble.CiudadId == Ciudad.CiudadesId)
                                                                {
                                                                    <h6 class="card-text">Ciudad: @Ciudad.Nombre </h6>
                                                                }
                                                            }
                                                            @if (Inmueble.PrecioVentaInm != null && Inmueble.Moneda == "Soles")
                                                            {
                                                                <h6 class="card-text">
                                                                    <i class="far fa-money-bill-alt"></i> : S/.@Inmueble.PrecioVentaInm
                                                                </h6>
                                                            }

                                                            @if (Inmueble.PrecioAlquilerInm != null && Inmueble.Moneda == "Soles")
                                                            {
                                                                <h6 class="card-text">
                                                                    <i class="far fa-money-bill-alt"></i> : S/.@Inmueble.PrecioAlquilerInm
                                                                </h6>
                                                            }
                                                            @if (Inmueble.PrecioVentaInm != null && Inmueble.Moneda == "Dolares")
                                                            {
                                                                <h6 class="card-text">
                                                                    <i class="far fa-money-bill-alt"></i> : $/.@Inmueble.PrecioVentaInm
                                                                </h6>
                                                            }
                                                            @if (Inmueble.PrecioAlquilerInm != null && Inmueble.Moneda == "Dolares")
                                                            {
                                                                <h6 class="card-text"><i class="far fa-money-bill-alt"></i> : $/.@Inmueble.PrecioAlquilerInm </h6>
                                                            }
                                                            @if (Inmueble.NumCelular != null)
                                                            {
                                                                <h6 class="card-text">
                                                                    <i class="fas fa-phone-volume"></i>  : @Inmueble.NumCelular
                                                                </h6>
                                                            }
                                                            <a href="/Publicacion/GetInmuebleByID?IdInmueble=@Inmueble.InmuebleId" class="btn btn-lg btn-outline-light-blue text-dark" style="color:black; opacity:1; border: 3px solid   "> Ver </a>
                                                            <hr />
                                                        </div>

                                                    </div>



                                                </div>
                                            }
                                        }
                                    }

                                </div>
                                <button class="leftLst" style="background-color:transparent;color:black; opacity:0.5; font-weight: bold;font-size:60px;  "><</button>
                                <button class="rightLst" style="background-color:transparent;color:black; opacity:0.5;font-weight: bold;font-size:60px; ">></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    </div>