
@using HousesPeru.Models;
@using HousesPeru.services;
@{

    Layout = null;
    var user = (Usuario)Session[AuthService.User.USUARIO];



}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewData["Title"] - HousesInPeru</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/keyframes.css" rel="stylesheet" />
    <link href="~/Content/css/banner.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/botones.css" rel="stylesheet" />

    <link href="~/Content/css/carousel.css" rel="stylesheet" />
    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/CustomJs/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/CustomJs/material.min.js"></script>
    <script src="~/CustomJs/sweetalert2.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
 

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.min.js"></script>

    <script src="~/CustomJs/Main.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <h1 id="LayoutAdmin"></h1>
    <header>
        <nav class="ewk_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top" style="    font-family: Bahnschrift;">
            <a class="navbar-brand" href="/Home/Index"><img src="~/Content/images/logo.gif" />HOUSES IN PERÚ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="btnInicio" href="/Home/Index">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="btnRegistroAgente" href="/Usuario/RegistroAgente">Registrar Agente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="btnAddPublicacion"  href="/Publicacion/AddPublicacion">Registrar Inmueble</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="btnListaUsers" href="/Usuario/ListaUsuarios">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="btnListaAgentes" href="/Usuario/ListaAgentes">Agentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"id="btnListaPublicaciones" href="/Inmueble/GetInmuebles">Publicaciones</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="bttnServiciosVenta"  href="/Inmueble/Buscar?Estado=Venta">Venta</a>
                            <a class="dropdown-item" id="bttnServiciosAlquiler" href="/Inmueble/Buscar?Estado=Alquiler">Alquiler</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Transacciones</a>
                        </div>
                    </li>


                </ul>
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle bttnConfiguracionUsuario" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Bienvenido @user.Nombre
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="bttnCOnfiguracionUsuario" href="/Usuario/GetUser">Configuracion Cuenta</a>
                             
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btnSalir" id="btn-exit" href="/Home/LogOut">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>


        </nav>


    </header>


    @RenderBody()
    <footer>
        <div class="card-group" style="    font-family: Bahnschrift;">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">SIGUENOS EN</h5>
                    <hi></hi>
                    <div class="col-md-6">
                        <row class="er_sombra_Inmueble_containerShare">
                            <a name="share-fb" target="_blank" class="mx-1  " role="button" href="https://www.facebook.com/Agente-Inmobiliario-Alquila-yo-vende-104565081054886/"><i class="fab fa-facebook-f"></i></a>

                        </row>
                        <row class="er_sombra_Inmueble_containerSharewsp">
                            <a name="share-whatsapp" href="whatsapp://send?text=http://" data-action="share/whatsapp/share" class="mx-1 " role="button"><i class="fab fa-whatsapp"> </i></a>

                        </row>
                        <row class="er_sombra_Inmuble_ContainerShareInstagram">
                            <a name="share-Instagram" href="whatsapp://send?text=http://" data-action="share/whatsapp/share" class="mx-1 " role="button"><i class="fab fa-instagram"> </i></a>

                        </row>
                    </div>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">NAVEGACIÓN</h5>
                    <p><a href="">Inicio</a></p>
                    <p><a href="">Compra</a></p>
                    <p><a href="">Alquiler</a></p>
                    <p><a href="">Acerca de Nosotros</a></p>
                    <p><a href="">Publicar Inmueble</a></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">

                <div class="card-body ">
                    <h5 class="card-title">PROPIEDADES DESTACADAS</h5>
                    <div>
                        <div id="carouselpagd" class="carousel slide carousel-fade" data-ride="carousel">
                            <div id="main">

                                <ol class="carousel-indicators">
                                    <li class="active" :data-slide-to="0" data-target="#carouselpagd"></li>
                                    <li v-for="(item, index) in lists" v-if="index>0" class=" " :data-slide-to="index" data-target="#carouselpagd"></li>
                                </ol>
                                <div class="carousel-inner er_cont_carrousel_layout" id="Carrousel_Layout">

                                    <div class="carousel-item active" v-for="(item, index) in lists" v-if="index==0">

                                        <a :href='"/Publicacion/GetInmuebleByID?IdInmueble="+item.InmuebleId'><img class="d-block img-responsive  " loading="lazy" :src="item.Img"> </a>

                                    </div>

                                    <div class="carousel-item" v-for="(item, index) in lists" v-if="index>0">
                                        <a :href='"/Publicacion/GetInmuebleByID?IdInmueble="+item.InmuebleId'> <img class="d-block img-responsive  " loading="lazy" :src="item.Img"> </a>

                                    </div>

                                </div>

                                <a href="#carouselpagd" class="carousel-control-prev" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a href="#carouselpagd" class="carousel-control-next" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="card">

                <div class="card-body">
                     <h5 class="card-title">CONTACTO</h5>
                    <p class="card-text">Por ingresar</p>
                    <p class="card-text">Jr. no recuerdo lalala</p>
                    <p class="card-text">Tf: 076 - 123456</p>
                    <p class="card-text">Cel: 912345678.</p>
                    <p class="card-text">Cel: 912345678.</p>
                </div>
            </div>
        </div>
        <p>&copy; 2020 - HousesInPeru</p>
    </footer>
    <script src="~/CustomJs/Main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

</body>
</html>

 
